<template name="brewsList">
  <div id="beer-wrapper">
    <div class="beer">
      <div class="bottle-cap">
        <img src="/images/bottle-cap.png" alt="Bottle Cap" />
        <div class="beer-label red">
          <h4>APA</h4>
        </div>
      </div>
      <h3>American Pale Ale</h3>
      <span class="rating">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </span>
      <dl>
        <dt>Brew date:</dt>
        <dd>14 January 2014</dd>
        <dt>Brew type:</dt>
        <dd>Ale</dd>
        <dt>ABV:</dt>
        <dd>4.9%</dd>
      </dl>
      <h5>Tasting notes</h5>
      <p>Golden honey in colour, APA beer has a complex aroma - a smoky, peaty blend of sweet green apples and vanilla - and a beautifully balanced flavour which is crisp, smooth and incredibly refreshing.</p>
      <p>Varieties of are Hop are selected to create the character and provide a clean and delicious hop aroma.</p>
    </div>
    <div class="beer">
      <div class="bottle-cap">
        <img src="/images/bottle-cap.png" alt="Bottle Cap" />
        <div class="beer-label green">
          <h4>SPA</h4>
        </div>
      </div>
      <h3>Special Pale Ale</h3>
      <span class="rating">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </span>
      <dl>
        <dt>Brew date:</dt>
        <dd>28 November 2013</dd>
        <dt>Brew type:</dt>
        <dd>Ale</dd>
        <dt>ABV:</dt>
        <dd>5.2%</dd>
      </dl>
      <h5>Tasting notes</h5>
      <p>Golden color with a two finger head with short retention. Light aroma of biscuit malt and some citric fruitiness.</p>
      <p>Sweet malty flavor with notes of honey, biscuit, pears with some citrusy. Mildly dry aftertaste.</p>
      <p>Really a not bold brew, rather smooth, but still pleasant and well executed. I may need to try a fresher version, this one is due in 4 months.</p>
    </div>
    <div class="beer">
      <div class="bottle-cap">
        <img src="/images/bottle-cap.png" alt="Bottle Cap" />
        <div class="beer-label blue">
          <h4>YA</h4>
        </div>
      </div>
      <h3>Yankee Ale</h3>
      <span class="rating">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </span>
      <dl>
        <dt>Brew date:</dt>
        <dd>8 June 2013</dd>
        <dt>Brew type:</dt>
        <dd>Ale</dd>
        <dt>ABV:</dt>
        <dd>4.0%</dd>
      </dl>
      <h5>Tasting notes</h5>
      <p>This beer is the quintessential Australian lager and with each mouthful you imbibe has a great mouthfeel! At 4% alcohol and with the main point of difference that this is a truly Certified Organic beer, this refreshing lager tastes like real beer should!</p>
      <p>This beer has created this uniquely appealing beer to please even the most demanding connoisseur, suiting both the special occasion requiring something different and the relaxed drink at home.</p>
    </div>
    <div class="beer">
      <div class="bottle-cap">
        <img src="/images/bottle-cap.png" alt="Bottle Cap" />
        <div class="beer-label yellow">
          <h4>ABC</h4>
        </div>
      </div>
      <h3>Apple Black Current</h3>
      <span class="rating">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </span>
      <dl>
        <dt>Brew date:</dt>
        <dd>31 March 2013</dd>
        <dt>Brew type:</dt>
        <dd>Ale</dd>
        <dt>ABV:</dt>
        <dd>3.9%</dd>
      </dl>
      <h5>Tasting notes</h5>
      <p>A refreshing apple cider shaken up with black current and rare desert limes from the Aussie Outback.</p>
      <p>This thirst quenching, ‘hot weather’ drink also features a punch of tropical fruit bursting through the back of the palate. Drink it straight up or over ice in a long glass.</p>
    </div>
  </div>
</template>